html,
body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--backgroundColor) !important;
    color: var(--color) !important;
    border-color: var(--color) !important;
    outline-color: var(--color) !important;
}
* {
    color: inherit !important;
    border-color: inherit !important;
    outline-color: inherit !important;
    background-color: transparent !important;
}

input[type='range'] {
    -webkit-appearance: none;
    height: 3px !important;
    background-color: var(--color) !important;
    vertical-align:middle;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: solid 1px var(--color);
    background-color: var(--backgroundColor) !important;
}

.range-value{
    vertical-align:middle;
}